::ng-deep .mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #468faf;
  --mdc-switch-selected-handle-color: #468faf;
  --mdc-switch-selected-hover-state-layer-color: #468faf;
  --mdc-switch-selected-pressed-state-layer-color: #468faf;
  --mdc-switch-selected-focus-handle-color: #468faf;
  --mdc-switch-selected-hover-handle-color: #468faf;
  --mdc-switch-selected-pressed-handle-color: #468faf;
  --mdc-switch-selected-focus-track-color: #468faf;
  --mdc-switch-selected-hover-track-color: #468faf;
  --mdc-switch-selected-pressed-track-color: #468faf;
  --mdc-switch-selected-track-color: #468faf;
}

.container-list-user
{
    margin-top: 50px;
}
